.jumbotron {
    background: url("../images/contact.jpg") no-repeat center; 
    background-size: cover;
 }
 .container{
   align-content: center;
 } 
.slider-text {
    color: #fff;
    font-family: 'Lucida Sans', 'Lato,' 'sans-serif';
    position: relative;
    padding-top: 30px;

}
