body{
  background-image: url("../images/contact.png");
}
.jumbotron {
    background-size: cover;
    margin-bottom: 20px;
 }
 .container{
   align-content: center;
   text-align: center;
 } 

.row{
    display: inline-flex;
}
h1{
    color: rgba(66, 62, 54, 0.911);
    font-family: Arial, Helvetica, sans-serif;
    
}
.follow-us{
    text-align: center;
}

  .social li{
      margin-right: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  ul{
    list-style-type: none;
    margin-bottom: 1px;
  }
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: #3B5998;
    
  }
  /* Instagram */
  .fa-instagram {
    color: #aa553b;
    
  }
  /* Twitter */
  .fa-twitter {
    color: #55ACEE;
  }
    