.jumbotron {
    background-size: contain;
    margin-bottom: 20px;
 }
 .container{
   align-content: center;
 } 

.row{
    display: inline-flex;
}
h1{
    color: rgba(66, 62, 54, 0.911);
    
}
.follow-us{
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .social li{
      margin-right: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  ul{
    list-style-type: none;
    margin-bottom: 0px;
  }
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: #3B5998;
    
  }
  /* Instagram */
  .fa-instagram {
    color: #aa553b;
    
  }
  /* Twitter */
  .fa-twitter {
    color: #55ACEE;
  }
    