body{
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  min-height: 80px;  
}
.navbar-collapse{
  justify-content: center;
  font-weight: bold;
}
.navbar-brand{
  margin-bottom: 10px;
}
.navlist:hover, .dropdown-menu{
  background-color: whitesmoke;
  border: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;  
}
.dropdown-menu a:hover{
  background-color: rgb(238, 229, 229);
  border-color: #fff;
}

.megamenu{
  min-width: 600px; 
}
.jumbotron {
  background: url("../images/rental.jpg") no-repeat center; 
  background-size: cover;
  height: 400px;
  align-content: center;
  margin-top: 50px;
  
}
.display-4{
   color: rgb(95, 91, 91);
   margin-top: 100px;
   text-align: center; 
}
.card{
  border-color: transparent;
}
.card-body{
  background-color: whitesmoke;
}
footer{
  background-color: rgb(248, 242, 248);
  color: rgb(172, 166, 166);
  font-family: Arial, Helvetica, sans-serif;
 
}