.nav{

}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.jumbotron {
  background: url("../images/homeimg.jpeg") no-repeat center; 
  background-size: cover;
  height: 600px;
  align-content: center;
}
.women-gallery{
  background-color: rgb(248, 242, 248);
}
.content{
  margin-bottom: 5px;
}
.card-deck {
  margin-bottom: 30px;
  padding-bottom: 90px;
}
footer{
  background-color: rgb(250, 242, 242);
  color: rgb(172, 166, 166);
  font-family: Arial, Helvetica, sans-serif;
  
}