body{
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  min-height: 80px;
}
.navbar-collapse{
  justify-content: center;
  font-weight: bold;
}
.navbar-brand{
  margin-bottom: 10px;
}
.navlist:hover, .dropdown-menu{
  background-color: whitesmoke;
  border: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;  
}
.dropdown-menu a:hover{
  background-color: rgb(238, 229, 229);
  border-color: #fff;
}
.megamenu{
  min-width: 600px; 
}
.jumbotron {
  background: url("../images/homeimg.jpeg") no-repeat center; 
  background-size: cover;
  height: 700px;
  align-content: center;
  margin-top: 50px;
}
.hero-content-title{
  text-align: center;
  color: rgb(41, 37, 37);
}
.display-4{
  margin-top: 100px;
  font-family: sans-serif;
}
.women-gallery{
  background-color: rgb(248, 242, 248);
}

/*! All content */
.content{
  margin-bottom: 5px;
}
.content-kids, .content-women, .content-men{
  margin-top: 90px;
}
/*! All card decks */
.card-deck {
  margin-bottom: 30px;
  padding-bottom: 90px;
}
/*! card decks for women, men, kids .html pages */
.kid, .women, .men{ 
  padding-bottom: 40px;
}
.card{
  border-color: transparent;
}
.card-body{
  background-color: whitesmoke;
}
.loadmore{
  text-align: center;
}
.loadmore a {
  text-decoration: none;
  color: black;
  background-color: rgb(245, 235, 210);
  padding: 15px;
  border-radius: 5%;
}
.loadmore a:hover {
  background-color: rgb(248, 226, 170) ;
}

/*! footer styling */
footer{
  background-color: rgb(248, 242, 248);
  color: rgb(172, 166, 166);
  font-family: Arial, Helvetica, sans-serif; 
} 
